*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to right, #ca1e18, #730000);
}
  

/* header */
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
}

header img{
    width: 125px;
}

header a, header p{
    font-size: 1.3rem;
    color: white;

}


/* error message */
.errormsg{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.254);
    width: 350px;
    margin: 1.2em auto;
    padding: 1.2em;
    color: white;
}

/* login-box */

.input-box{
    border: 1px solid rgb(214, 28, 28);
    border-radius: 10px;
    width: 350px;
    margin: 1.2em auto;
    padding: 1.2em;
    color: white;
    background-color: #ad1212;
    margin-bottom: 25px;
}

.input-box input{
    width: 100%;
    padding: 7px;
    font-size: 15px;
    border: 1px solid #cc0707;
    border-radius: 5px;
    color: #0a0a0a;
    outline: none;
    transition: all 0.1s linear;
}

.label{
    font-size: 15px;
    color: white;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;

}

.label a{
    font-size: 14px;
    text-decoration: none;
    color: rgba(0, 0, 255, 0.635);
}

input:focus{
    border: 1px solid #ffbd00;
}

.signup-page{
    border: 1px solid rgb(214, 28, 28);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 1.2em auto;
    padding: 1.2em;
    color: white;
    background-color: #730000;
}


.btn{
    width: 100%;
    padding: 7px;
    margin-top: 15px;
    font-size: 18px;
    background-color: #ffbd00;
    color: white;
    border: 1px solid #cc0707;
    border-radius: 7px;
}


.input-box label, input{
    margin-bottom: 15px;
}


footer{
    margin-top: 4rem;
}

.signup-page{
    text-align: center;
}

.signup-page a{
    color: #ffbd00;
    text-decoration: none;
}


footer p{
    text-align: center;
    font-size: 1rem;
    color: white;
}


@media (width <= 320px){
    form, .new{   
        width: 300px;
    }

    .new p{
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
}
