*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to right, #ca1e18, #730000);
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    font-size: 1.1rem;
    color: white;
    text-align: center;
}

header a{
    text-decoration: none;
    color: #ffbd00;
}

header img{
    width: 100px;
}



form{
    border: 1px solid rgb(231, 21, 21);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 50px auto 0;
    padding: 40px;
}

.intro{
    margin: 0 0 30px;
}

.intro p{
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.errormsg{
    border: 1px solid rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.254);
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
    color: rgb(255, 255, 255);
}

.errormsg ul li{
    font-weight: 100;
}

.input-box{
    border: 1px solid rgb(214, 28, 28);
    border-radius: 10px;
    margin: 1.2em auto;
    padding: 1.2em;
    color: white;
    background-color: #ad1212;
    margin-bottom: 25px;
}

.input-box input{
    width: 100%;
    height: 30px;
    padding: 7px;
    font-size: 15px;
    border: 1px solid #cc0707;
    border-radius: 5px;
    color: #0a0a0a;
    outline: none;
    transition: all 0.1s linear;
}

.label{
    font-size: 15px;
    color: white;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;

}

input:focus{
    border: 2px solid #ffbd00;
}

.btn{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 15px;
    font-size: 18px;
    background-color: #ffbd00;
    color: white;
    border: 1px solid #cc0707;
    border-radius: 7px;
}

form label{
    margin-bottom: 8px;
}

form input{
    margin-bottom: 20px;
    height: 30px;;
}

form button{
    margin-top: 20px;
    height: 30px;
    font-size: 1rem;
}

footer{
    margin-top: 50px;
}

footer p{
    text-align: center;
    font-size: 1rem;
    color: white;
}

@media (width <= 1024px){
    header{
        padding: 20px 90px;
    }

    form{
        width: 70%;
    }
}

@media (width <= 768px){
    header{
        padding: 20px 50px;
    }

    header p, header a{
        font-size: 1.1rem;
        
    }
    
    form{
        width: 80%;
        padding: clamp(6%,5%,5%);
    }
}

@media (width <=550px){
    header{
        padding: 20px 30px;
        flex-direction: column;
        justify-content: center;
    }
}

@media (width <=320px){
    form{
        width: 90%;
        margin: 50px auto;
        font-size: 0.9rem
    }

    form input, form button{
        height: 25px;
    }
}

